/* Extra small devices (phones, 500px and down) */
/* according to figma mobile design */

@media only screen and (max-width: 500px) {
    h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #0a0826;
        margin: 8px 0px;
    }
    .container {
        width: 90%;
        overflow: hidden;
    }
    .container:hover .heading {
        transform: translateX(-15px);
    }
    header {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .heading {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-row-gap: 40px;
    }
    .heading-text {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 80px;
        width: 80%;
        margin-left: 8%;
        margin-top: 20%;
    }
    .heading-text h1 {
        width: 278px;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
    }
    .heading-image {
        margin-bottom: 80px;
        width: 70%;
    }
    .heading-image img {
        width: 90%;
        margin-left: 10%;
    }
    .players-list {
        width: 90%;
        margin: 30px auto;
    }
    .players {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 27px;
        width: 100%;
    }
    .player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        width: 100%;
        margin-right: 15px;
    }
    .player-image img {
        width: 90%;
        height: auto;
        margin: 15px 15px 10px 15px;
    }
    .player-details {
        margin: 0px 15px 33px 15px;
    }
    .player-details h2 {
        margin-bottom: 10px;
    }
    .highlight {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        grid-gap: 30px;
        margin-bottom: 30px;
    }
    .highlight-text {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 15px;
    }
    .highlight-image img {
        width: 80%;
        text-align: center;
        margin: 15px;
    }
    .top-news {
        margin: 0 auto 30px;
        text-align: start;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .news {
        width: 90%;
        display: flex;
        margin: 20px;
        flex-direction: column;
    }
    fieldset {
        margin-bottom: 15px 70px 15px;
        width: 90%;
    }
    .footer-logo img {
        width: 330px;
        height: 50px;
        margin: 15px;
    }
}
