@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 1100px;
    /* background-color: beige;
    margin-left: 133px;
    margin-right: 133px; */
    margin: 0 auto;
}
h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0a0826;
    margin: 8px 0px;
}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191f;
}
p {
    font-size: 16px;
    line-height: 28px;
    color: #6c6c6c;
}
a {
    background-color: #e02c6d;
    padding: 10px 24px;
    color: #ffffff;
}
/*--------------------------
    Header part style 
---------------------------*/
header {
    background-color: #2d25a0;
    width: 100%;
    height: 660px;
}
.heading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 80px;
}
.heading-text {
    width: 450px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 80px;
    /* color: #ffffff; */
}
.heading-text h1 {
    color: #ffffff;
}
.heading-image {
    margin-bottom: 86px;
}
.heading-image img {
    width: 550px;
    transform: translateY(15%);
}

/*--------------------------
    Players List style 
---------------------------*/
.players-list {
    width: 1050px;
    margin: 70px auto;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}
.player {
    /* width: 330px;
    border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img {
    width: 300px;
    height: 256px;
    margin: 15px 15px 10px 15px;
}
.player-details {
    margin: 0px 15px 33px 15px;
}
.player-details h2 {
    margin-bottom: 10px;
}

/*--------------------------
    Highlishts part style 
---------------------------*/
.highlight {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 66px;
    margin-bottom: 70px;
}
.highlight-text {
    width: 469px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
/* .highlight-text h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0a0826;
    margin: 8px 0px;
} */
.highlight-text p {
    margin: 8px 0px 24px;
}
.highlight-image img {
    width: 567px;
}

/*--------------------------
    Todays Match part style 
---------------------------*/
/* .today-match h1 {
    text-align: center;
}
#match-info {
    width: 80%;
    margin: 30px auto 70px;
}
table {
    border: 2px solid chocolate;
}
td,
th,
tr {
    border-collapse: collapse;
    border: 2px solid cornflowerblue;
}
.w-50 {
    width: 50%;
} */

/*--------------------------
    Footer part style 
---------------------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-logo img {
    width: 450px;
    height: 100px;
}
.footer-social-media {
    width: 170px;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.fab {
    padding: 10px;
    color: #969bab;
    background-color: #e0e1e2;
    margin: 14px;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}
.footer-copyright p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.far {
    margin: 0px 5px;
}
